@page "/admin/products/{ProductId:guid}/variants"
@using System.Globalization

@inject IProductAttributeService ProductAttributeService
@inject IProductService ProductService
@inject NavigationManager NavigationManager
@inject INotifService NotifService
@inject DialogService DialogService

<PageTitle>Quản lý biến thể</PageTitle>

<!-- Existing Variants -->
<RadzenCard Style="margin: 8px 0;">
    <RadzenStack>
        <RadzenText TextStyle="TextStyle.H5" Style="margin: 0;">
            Biến thể hiện có
        </RadzenText>
        <VariantsTable ProductId="@ProductId" />
    </RadzenStack>
</RadzenCard>

<!-- Add New Variant -->
<RadzenCard Style="margin-top: 8px;">
    <RadzenStack>
        <RadzenText TextStyle="TextStyle.H5" Style="margin: 0;">
            Thêm biến thể mới
        </RadzenText>
        <RadzenRow>
            <RadzenColumn SizeSM="6" SizeMD="3">
                <RadzenFormField Text="Giá gốc" Variant="Radzen.Variant.Outlined" AllowFloatingLabel="false" Style="width: 100%">
                    <ChildContent>
                        <RadzenNumeric @bind-Value="commonVariant.BasePrice" Style="width: 100%" />
                    </ChildContent>
                    <Helper>
                        <RadzenLabel Text="@priceValidationError" Style="color: red;" Visible="@(!string.IsNullOrEmpty(priceValidationError))" />
                    </Helper>
                </RadzenFormField>
            </RadzenColumn>
            <RadzenColumn SizeSM="6" SizeMD="3">
                <RadzenFormField Text="Giá khuyến mãi" Variant="Variant.Outlined" AllowFloatingLabel="false" Style="width: 100%">
                    <ChildContent>
                        <RadzenNumeric @bind-Value="commonVariant.SalePrice" Style="width: 100%;" />
                    </ChildContent>
                    <Helper>
                        <RadzenLabel Text="@salePriceValidationError" Style="color: red;" Visible="@(!string.IsNullOrEmpty(salePriceValidationError))" />
                    </Helper>
                </RadzenFormField>

            </RadzenColumn>
            <RadzenColumn SizeSM="6" SizeMD="2">
                @* <RadzenFormField Text="Số lượng" Variant="Variant.Outlined" AllowFloatingLabel="false" Style="width: 100%">
                    <ChildContent>
                        <RadzenNumeric @bind-Value="commonVariant.Quantity" Style="width: 100%;" />
                    </ChildContent>
                    <Helper>
                        <RadzenLabel Text="@quantityValidationError" Style="color: red;" Visible="@(!string.IsNullOrEmpty(quantityValidationError))" />
                    </Helper>
                </RadzenFormField> *@
            </RadzenColumn>

        </RadzenRow>
        <RadzenRow>
            <RadzenColumn Size="6">
                <RadzenFormField Text="Thời gian bắt đầu khuyến mãi" Variant="Variant.Outlined" AllowFloatingLabel="false" Style="width: 100%">
                    <ChildContent>
                        <RadzenDatePicker @bind-Value="commonVariant.SaleFrom" DateFormat="dd/MM/yyyy" Style="width: 100%;" AllowClear="true" />
                    </ChildContent>
                </RadzenFormField>
            </RadzenColumn>
            <RadzenColumn Size="6">
                <RadzenFormField Text="Thời gian kết thúc khuyến mãi" Variant="Radzen.Variant.Outlined" AllowFloatingLabel="false" Style="width: 100%">
                    <ChildContent>
                        <RadzenDatePicker @bind-Value="commonVariant.SaleTo" DateFormat="dd/MM/yyyy" Style="width: 100%;" AllowClear="true" />
                    </ChildContent>
                </RadzenFormField>
            </RadzenColumn>
        </RadzenRow>




        <RadzenLabel Text="Thuộc tính sản phẩm" />
        @foreach (var attr in attributes)
        {
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
                <RadzenFormField Text="@attr.Name.CapitalizeFirstLetterOfFirstWord()" Variant="Variant.Outlined">
                    <ChildContent>
                        @if (attributeFilters.TryGetValue(attr.Id, out var filter) && filter.PossibleValues.Any())
                        {
                            <RadzenDropDown Multiple="true" @bind-Value="@filter.SelectedValues" Data="@filter.PossibleValues" Placeholder="Chọn giá trị" Style="width: 100%;" Chips="true" />
                        }
                    </ChildContent>
                </RadzenFormField>

                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">
                    <RadzenButton Icon="add" ButtonStyle="ButtonStyle.Primary" Variant="Variant.Flat" Click="@(() => ShowAddProductAttributeValueDialog(attr))" class="rz-border-radius-10" />
                </RadzenStack>

            </RadzenStack>

        }

        <RadzenButton Text="Tạo các biến thể" ButtonStyle="ButtonStyle.Primary" Variant="Variant.Flat" Click="@(() => GenerateVariants())" />


        @if (generatedVariants.Any())
        {
            <RadzenDataGrid Data="@generatedVariants" TItem="AddVariantRequest" AllowSorting="true" AllowFiltering="false" AllowPaging="false">
                <Columns>
                    <RadzenDataGridColumn TItem="AddVariantRequest" Title="Biến thể" Sortable="false">
                        <Template Context="variant">
                            @foreach (var displayPart in GetVariantDisplay(variant))
                            {
                                <RadzenBadge BadgeStyle="BadgeStyle.Info" style="margin-right: 8px;">@displayPart</RadzenBadge>
                            }
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="AddVariantRequest" Property="OriginalPrice" Title="Giá">
                        <Template Context="variant">
                            @variant.BasePrice.ToString("C", CultureInfo.GetCultureInfo("vi-VN"))
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="AddVariantRequest" Property="Quantity" Title="Số lượng" />
                    <RadzenDataGridColumn TItem="AddVariantRequest" Property="SalePrice" Title="Giá khuyến mãi">
                        <Template Context="variant">
                            @(variant.SalePrice?.ToString("C", CultureInfo.GetCultureInfo("vi-VN")) ?? "N/A")
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="AddVariantRequest" Property="SaleStartDate" Title="Thời gian khuyến mãi" Sortable="false">
                        <Template Context="variant">
                            @if (variant.SaleFrom.HasValue && variant.SaleTo.HasValue)
                            {
                                <span>@variant.SaleFrom.Value.ToString("dd/MM/yyyy") - @variant.SaleTo.Value.ToString("dd/MM/yyyy")</span>
                            }
                            else
                            {
                                <span>N/A</span>
                            }
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="AddVariantRequest" Title="Hành động" Sortable="false" Filterable="false">
                        <Template Context="variant">
                            <RadzenButton Text="Chỉnh sửa" ButtonStyle="ButtonStyle.Info" Size="ButtonSize.Small" Click="@(() => ShowEditVariantModal(variant))" />
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        }
        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" Gap="8px" Style="margin-top: 8px;">
            <RadzenButton Text="Lưu các biến thể" ButtonStyle="ButtonStyle.Primary" Variant="Variant.Flat" Click="Submit" />
        </RadzenStack>
    </RadzenStack>
</RadzenCard>

@code {
    [Parameter] public Guid ProductId { get; set; }

    private class AttributeFilter
    {
        public List<string> PossibleValues { get; set; } = new();
        public List<string> SelectedValues { get; set; } = new();
    }

    private List<ProductAttributeReadModel> attributes = new();
    private Dictionary<Guid, AttributeFilter> attributeFilters = new();
    private AddVariantRequest commonVariant = new();
    private string priceValidationError = string.Empty;
    private string salePriceValidationError = string.Empty;
    private List<AddVariantRequest> generatedVariants = new();
    private bool showEditModal = false;
    private AddVariantRequest editingVariant = new();

    private AddValueForProductAttributeRequest addValueForProductAttributeRequest = new();

    protected override async Task OnInitializedAsync()
    {
        await LoadAttributesAsync();
        attributeFilters = attributes.ToDictionary(
            attr => attr.Id,
            attr => new AttributeFilter
            {
                PossibleValues = new()
            }
        );

        foreach (var attr in attributes)
        {
            var response = await ProductAttributeService.GetAttributeValuesAsync(attr.Id);
            if (response.ResponseMessage.IsSuccessStatusCode)
            {
                attributeFilters[attr.Id].PossibleValues = response.GetContent()
                    .Select(av => av.AttributeValue)
                    .ToList();
            }
        }
    }

    private async Task LoadAttributesAsync()
    {
        var response = await ProductAttributeService.GetProductAttributesAsync();
        if (response.ResponseMessage.IsSuccessStatusCode)
        {
            attributes = response.GetContent().Where(a => a.IsOption).ToList();
        }
    }

    private void GenerateVariants()
    {
        priceValidationError = string.Empty;
        salePriceValidationError = string.Empty;

        bool isValid = true;

        if (commonVariant?.BasePrice == null || commonVariant.BasePrice <= 0)
        {
            priceValidationError = "Giá phải lớn hơn 0";
            isValid = false;
        }

        if (commonVariant?.SalePrice != null && commonVariant.SalePrice < 0)
        {
            salePriceValidationError = "Giá khuyến mãi không được nhỏ hơn 0";
            isValid = false;
        }

        if (!isValid)
        {
            return;
        }

        var existingNewVariants = generatedVariants.ToDictionary(
            v => string.Join("|", v.ProductAttributeValuePairs.Select(pair => pair.ProductAttributeValue).OrderBy(val => val)),
            v => v
        );

        generatedVariants.Clear();
        var combinations = GetAttributeCombinations();
        foreach (var combo in combinations)
        {
            var attributeValues = combo.Values.OrderBy(val => val).ToList();
            var key = string.Join("|", attributeValues);
            var variant = existingNewVariants.ContainsKey(key)
                ? existingNewVariants[key]
                : new AddVariantRequest
                {
                    BasePrice = commonVariant.BasePrice,
                    SalePrice = commonVariant.SalePrice,
                    SaleFrom = commonVariant.SaleFrom,
                    SaleTo = commonVariant.SaleTo
                };
            generatedVariants.Add(variant);
        }
    }

    private List<Dictionary<Guid, string>> GetAttributeCombinations()
    {
        var combinations = new List<Dictionary<Guid, string>> { new() };
        foreach (var filter in attributeFilters)
        {
            if (!filter.Value.SelectedValues.Any()) continue;
            var newCombinations = new List<Dictionary<Guid, string>>();
            foreach (var value in filter.Value.SelectedValues)
            {
                foreach (var combo in combinations)
                {
                    var newCombo = new Dictionary<Guid, string>(combo) { { filter.Key, value } };
                    newCombinations.Add(newCombo);
                }
            }
            combinations = newCombinations;
        }

        return combinations;
    }

    private IEnumerable<string> GetVariantDisplay(ProductVariantReadModel variant)
    {
        var displayParts = variant.ProductAttributeValuePairs
            .OrderBy(pair => pair.AttributeName)
            .Select(av => $"{av.AttributeName}: {av.AttributeValue}");
        return displayParts;
    }

    private IEnumerable<string> GetVariantDisplay(AddVariantRequest variant)
    {
        var displayParts = variant.ProductAttributeValuePairs
            .OrderBy(pair => pair.ProductAttributeId)
            .Select(pair => $"{pair.ProductAttributeId}: {pair.ProductAttributeValue}");
        return displayParts;
    }

    private async Task ShowAddProductAttributeValueDialog(ProductAttributeReadModel productAttribute)
    {
        var ok = await DialogService.OpenAsync<AddProductAttributeValueModal>($"Thêm giá trị cho thuộc tính '{productAttribute.DisplayName}'",
        new Dictionary<string, object>()
        {
            { "AttributeValue", addValueForProductAttributeRequest }
        });

        if (ok == true)
        {
            var response = await ProductAttributeService.AddValueToAttributeAsync(productAttribute.Id, addValueForProductAttributeRequest);
            if (response.ResponseMessage.IsSuccessStatusCode)
            {
                attributeFilters[productAttribute.Id].PossibleValues.Add(addValueForProductAttributeRequest.ProductAttributeValue);

                NotifService.Success("Thêm thành công");
            }
            else
            {
                NotifService.Error("Thêm thất bại");
            }
        }
    }

    private void ShowEditVariantModal(AddVariantRequest variant)
    {
        editingVariant = variant;
        showEditModal = true;
    }

    private void SaveEditedVariant()
    {
        var index = generatedVariants.FindIndex(v =>
            v.ProductAttributeValuePairs.OrderBy(id => id)
                .SequenceEqual(editingVariant.ProductAttributeValuePairs.OrderBy(id => id)));
        if (index >= 0)
        {
            generatedVariants[index] = new AddVariantRequest
            {
                BasePrice = editingVariant.BasePrice,
                SalePrice = editingVariant.SalePrice,
                SaleFrom = editingVariant.SaleFrom,
                SaleTo = editingVariant.SaleTo
            };
        }
    }

    private async Task Submit()
    {
        if (!generatedVariants.Any())
        {
            NotifService.Error("Vui lòng chọn ít nhất một giá trị thuộc tính");
            return;
        }

        foreach (var variant in generatedVariants)
        {
            var response = await ProductService.AddVariantAsync(ProductId, variant);
            if (!response.ResponseMessage.IsSuccessStatusCode)
            {
                NotifService.Error($"Thêm thất bại: {string.Join(",", GetVariantDisplay(variant))}");
            }
            else
            {
                NotifService.Success("Thêm thành công");
            }
        }

        generatedVariants.Clear();
        attributeFilters = attributes.ToDictionary(
            attr => attr.Id,
            attr => new AttributeFilter { PossibleValues = attributeFilters[attr.Id].PossibleValues }
        );
        commonVariant = new();
    }
}